<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<h3>Surfing is a <span>real life</span></h3>
					<h4>Sea Sand & Surf</h4>
					<p>Add Some Description</p>

				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption">
					<h3>Shine <span>with waves </span></h3>
					<h4>Do it like a Surfer</h4>
					<p>Add Some Description</p>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<h3>Surfing is a <span>real life</span></h3>
					<h4>Do it like a Surfer</h4>
					<p>Add Some Description</p>

				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption">
					<h3>Rise <span>with waves </span></h3>
					<h4>Sea Sand & Surf</h4>
					<p>Add Some Description</p>
				</div>
			</div>
		</div>
	</div>
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
	<!-- The Modal -->
</div>
<!--//banner -->
<!--//banner -->
<div class="container">
<p>
  home works!!
</p>
</div>
